name: npm Publish

on:
  workflow_call:
    inputs:
      registry:
        description: 'npm registry URL'
        required: false
        default: 'https://npm.pkg.github.com'
        type: string
      tag:
        description: 'npm publish tag'
        required: false
        default: 'latest'
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: ${{ inputs.registry }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      
      - run: npm ci
      - run: npm run build
      
      - run: npm publish --tag ${{ inputs.tag }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
